

/**************************************
 *
 * Defining some font to be used in INENDI Inspector's documentation
 *
 *************************************/



/* WARNING: the path is relative to the inendi.css !!! */

@font-face {
  font-family: 'Pompiere';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Pompiere/Pompiere-Regular.ttf');
}

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Signika/Signika-Light.ttf');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Signika/Signika.ttf'), url('../fonts/Signika/Signika-Regular.ttf');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Signika/Signika-Semibold.ttf');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Signika/Signika-Bold.ttf');
}

@font-face {
  font-family: 'Confidential';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Confidential/Confidential-Regular.ttf');
}
/* Example usages
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Pompiere', cursive;
font-family: 'Homenaje', sans-serif;
font-family: 'Overlock', cursive;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Droid Sans Mono', sans-serif;
font-family: 'Signika', sans-serif;
*/





/**************************************
 *
 * Customization of asciidoc.css
 *
 *************************************/



/* Default font. */
body {
  /*font-family: Georgia,serif;*/
  font-family: 'Signika', sans-serif;
  font-size: 18px;
}


/* Title font. */
h1, h2, h3, h4, h5, h6, caption.title,
thead, p.table.header,
#toctitle,
#author, #revnumber, #revdate, #revremark,
#footer {
  /*font-family: Arial,Helvetica,sans-serif;*/
	font-family: 'Pompiere', cursive;
	color: #6f0076;
}


h3 {
	font-size: 23px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 21px;
	margin-bottom: 0.1em;
}

em {
	color: rgb(125, 56, 230);
}

div.title {
	font-family: 'Pompiere', cursive;
	font-size: 20px;
	color: #303030;
}

div#content {
	max-width: 700px;
}

div.sect4 {
	margin-left:2em;
}

strong {
	color: rgb(148,45,0);
}


sup {
	font-size: 14px;
}


div.imageblock img {
	max-width: 1200px;
	width: auto;
	height: auto;
}



/**************************************
 *
 * Customization of toc2.css
 *
 *************************************/

@media screen {
  body {
	background-color: #f8faf0;
	max-width: 50em; /* approximately 80 characters wide */
	margin-left: 16em;
  }

  #toc {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 13em;
	padding: 0.5em;
	padding-bottom: 1.5em;
	margin: 0;
	overflow: auto;
	border-right: 3px solid #f8f8f8;
	background-color: #303030;
	list-style-type:none;
  }

  /* For the SINGLE HTML format */
  #toc a {
	color:#e894ef;
	font-family: 'Signika', sans-serif;
	text-decoration:none;
  }

  #toc .toclevel1 {
	margin-top: 0.3em;
	font-size: 17px;
	/* The two following rules are needed to indent the long titles */
	text-indent: -1em;
	padding-left: 1em;
  }

  #toc .toclevel2 {
	margin-top: 0.25em;
	margin-left: 1.3em;
	font-size: 15px;
	/* The two following rules are needed to indent the long titles */
	text-indent: -1.9em;
	padding-left: 1.9em;
	/*display: list-item;
	color: #aaaaaa;*/
  }



  #toctitle {
	color:#e894ef;
	font-size: 25px;
	margin-top: 0.5em;
  }


  /* For the CHUNKED HTML format */
  dl.toc a {
	color:#6f0076;
	font-family: 'Signika', sans-serif;
	text-decoration:none;
  }

  dl.toc span.chapter {
	margin-top: 0.3em;
	font-size: 19px;
  }

  dl.toc span.section {
	margin-top: 0.25em;
	font-size: 17px;
	/*display: list-item;
	color: #aaaaaa;*/
  }

/*  #toctitle {
	margin-top: 0.5em;
  }*/
}


/**************************************
 *
 * INENDI Specific rules
 *
 *************************************/

em.pvkeyword {
	color:#942f10;
	font-style:normal;
}

span.pvkeyword, span.pvkeyword a {
	color:#942f10;
	font-style:normal;
	text-decoration:none;
}

/* Fot the LIST OF FIGURES */
div.list-of-figures,
div.list-of-figures a {
    color:#6f0076;
    font-family: 'Signika', sans-serif;
    text-decoration:none;
    margin-top: 0.3em;
    font-size: 19px;
  }

/**************************************
 *
 * HTML watermark
 *
 *************************************/
.watermark {
        font-family: 'Confidential', sans-serif;
        position:fixed;
        width:98px;
        height:98px;
        top:80%;
        left:85%;
        margin-top:-50px;
        margin-left:-50px;
        background:none;
        border:none;
        text-align:center;

        opacity:0.2;

        /* rotation */
        transform:rotate(-45deg);
        -ms-transform:rotate(-45deg); /* IE 9 */
        -webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */

        /* disable text selection */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
